<h4 class="ui center aligned medium icon header">
  <div class="ui grid">
    <div class="sixteen wide column">
      <%= image_tag("mug-hot.png", :class => "onpage_logo") %>
    </div>  
  </div>  
  Say Something
</h4>
